<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

  <h2>{{warning_message}}</h2>
  <br>
  <h2>Name and address of requested fish:</h1>
  <h4>{{name}}</h4>
  <h4>{{street_address}}</h4>
  <h4>{{city}}</h4>
  <h4>{{state_province}}</h4>
  <h4>{{country}}</h4>
  <h4>{{zip_code}}</h4>

<p><a href="index"> Go back to Home</a></p>
<p><a href="fishStuff">fishStuff</a></p>

<form method="POST" action="/address_directory">
<p>fssn of fish to search: <input type="text" name="fssn"> <input type="submit" value="Search"></p>
</form>

</body>


</html>
