<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <div> Welcome to {{account_name}}'s account!</div>
  <h1>Friends</h1>

  <div>
    {% for n in friend_data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  <h1>Family</h1>

  <div>
    {% for n in family_data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <h1>Predators</h1>

  <div>
    {% for n in predator_data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <h1>Prey</h1>

  <div>
    {% for n in prey_data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  <h1>Acquaintances</h1>

  <div>
    {% for n in acquaintance_data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <h1>Owner</h1>

  <div>
    {% for n in owner_data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <h1>origin</h1>

  <div>
    {% for n in origin_data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  
  <h1>Aquarium and Tank of Residence</h1>

  <div>
	  Tank {{tank_data}}, {{aquarium_data}}
  </div>
<form method="POST" action="/view_fish_profile">
	<p>fssn of friend: <input type="text" name="name"> <input type="submit" value="Search"></p></form>

</body>


</html>
