<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to Fishbook! What would you like to do?</h1>

<p><a href="fishStuff">Find your family, friends, predators -></a></p>
<p><a href="addressDirectory">Find the addresses of your friends and family -></a></p>
<p><a href="bestOwners">Find the best owners in a country -></a></p>
<p><a href="suggestedFriends">Find friend suggestions -></a></p>
<p><a href="tanksInSameAquarium">Find potential new tanks to move to -></a></p>


</body>


</html>
